<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>user/modify</title>
	</head>
	<body>
		<h3>user/modify</h3>
		<a th:href="@{/user/list}">목록보기</a>
		<form th:action="@{/user/modify}" method="post">
			<table border="1">
				<tr>
					<td>아이디</td>
					<td><input type="text" name="uid" readonly th:value="${user.uid}"></td>
				</tr>
				<tr>
					<td>이름</td>
					<td><input type="text" name="name" th:value="${user.name}"></td>
				</tr>
				<tr>
					<td>휴대폰</td>
					<td><input type="text" name="hp" th:value="${user.hp}"></td>
				</tr>
				<tr>
					<td>나이</td>
					<td><input type="text" name="age" th:value="${user.age}"></td>
				</tr>
				<tr>
					<td colspan="2" align="right"><input type="submit" value="수정하기"></td>
				</tr>
			</table>
		</form>
	
	</body>
</html>