<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<!-- 
			날짜 : 2022/04/06
			이름 : 양용민
			내용 : Spring MyBatis 실스브
			
			작업1 : MyBatis, MySql 라이브러리 pom.xml 추가
			작업2 : STS4 MyBatis 플러그인 설치
			작업3 : src/main/resources/mappers 디렉터리 생성
			작업4 : src/main/resources/mappers/user.xml mapper 파일 생성
		 -->
	</head>
	<body>
		<h3>Spring MyBatis 실습</h3>
		
		<a th:href="@{/user/register}">User 등록하기</a>
		<a th:href="@{/member/register}">Member 등록하기</a>
	</body>
</html>