<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>케이마켓::회원가입</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" th:href="@{/css/member/member.css}"/>
    <script th:src="@{/js/member/register-seller.js}"></script>
    <script th:src="@{/js/member/zipcode.js}"></script>
</head>
<body>
    <div id="member-wrapper">
        <header>
            <a href="#"><img th:src="@{/img/header_logo.png}" alt=""></a>
        </header>
        <main>
            <div id="member-register-seller">
                <h1>회원가입</h1>
				<form th:action="@{/member/register-seller}" method="POST">
					<input type="hidden" name="type" value="2"/>
					<section>
						<table>
							<caption>필수 정보입력</caption>
							<tr>
								<th><span class="essential">*</span>아이디</th>
								<td><input type="text" name="uid" placeholder="아이디를 입력"
									required /> <span class="msgSId">영문, 숫자로
										4~12자까지 설정해 주세요.</span></td>
							</tr>
							<tr>
								<th><span class="essential">*</span>비밀번호</th>
								<td><input type="password" name="pass"
									placeholder="비밀번호를 입력" required /> <span class="msgPass">영문,
										숫자, 특수문자를 조합하여 8~12자까지 설정해 주세요.</span></td>
							</tr>
							<tr>
								<th><span class="essential">*</span>비밀번호확인</th>
								<td><input type="password" name="pass2"
									placeholder="비밀번호를 확인" required /> <span class="msgPass2">비밀번호
										재입력</span></td>
							</tr>
						</table>
					</section>

					<section>
						<table>
							<caption>판매자 정보입력</caption>
							<tr>
								<th><span class="essential">*</span>회사명</th>
								<td><input type="text" name="company"
									placeholder="회사명 입력" required /> <span class="msgCompany">(주)포함
										입력, 예) (주)케이마켓</span></td>
							</tr>
							<tr>
								<th><span class="essential">*</span>대표자</th>
								<td><input type="text" name="ceo" placeholder="대표자 입력"
									required />&nbsp;&nbsp;<span class="msgCeo"></span></td>
							</tr>
							<tr>
								<th><span class="essential">*</span>사업자등록번호</th>
								<td><input type="text" name="bizRegNum"
									placeholder="사업자등록번호 입력" required /> <span class="msgCorp">-
										표시 포함 12자리 입력, 예) 123-45-67890</span></td>

							</tr>
							<tr>
								<th><span class="essential">*</span>통신판매업신고 번호</th>
								<td><input type="text" name="commRepNum"
									placeholder="통신판매업신고 입력" required /> <span class="msgOnline">-
										표시 포함, 예) 강남-12345, 제 1-01-23-4567호, 2017-경기성남-0011</span></td>
							</tr>
							<tr>
								<th><span class="essential">*</span>전화번호</th>
								<td><input type="text" name="tel" placeholder="전화번호 입력"
									required /> <span class="msgTel">- 표시 포함,
										지역번호 포함, 예) 02-234-1234</span></td>
							</tr>
							<tr>
								<th><span class="essential">*</span>팩스번호</th>
								<td><input type="text" name="fax" placeholder="팩스번호 입력"
									required /> <span class="msgFax">- 표시 포함,
										지역번호 포함, 예) 02-234-1234</span></td>
							</tr>
							<tr>
								<th><span class="essential">*</span>EMAIL</th>
								<td><input type="email" name="email"
									placeholder="이메일 입력" required /><span class="msgEmail"></span></td>
								
							</tr>
							<tr class="addr">
								<th>회사주소</th>
								<td>
									<div>
										<input type="text" name="zip" id="zip" onclick="zipcode()"
											placeholder="우편번호 입력 클릭" readonly />
									</div>
									<div>
										<input type="text" name="addr1" id="addr1" size="50"
											placeholder="주소를 검색하세요." readonly />
									</div>
									<div>
										<input type="text" name="addr2" id="addr2" size="50"
											placeholder="상세주소를 입력하세요."  required/>
									</div>
								</td>
							</tr>
						</table>
					</section>
					<section>
						<table>
							<caption>담당자 정보입력</caption>
							<tr>
								<th><span class="essential">*</span>이름</th>
								<td><input type="text" name="manager" placeholder="이름을 입력"
									required /></td>
							</tr>
							<tr>
								<th><span class="essential">*</span>휴대폰</th>
								<td><input type="text" name="managerHp" maxlength="13"
									placeholder="휴대폰번호 입력" required /> <span class="msgHp">-
										포함 13자리를 입력하세요.</span></td>
							</tr>
						</table>
					</section>

					<div>
						<input type="submit" class="join" value="회원가입" />
					</div>
				</form>
            </div>
        </main>        
        <th:block th:include="@{_footer.html}"/>
    </div>    
</body>
</html>