<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>케이마켓::약관</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" th:href="@{/css/member/member.css}"/>
    <script th:src="@{/js/member/signup-seller.js}"></script>
</head>
<body>
    <div id="member-wrapper">
        <header>
            <a th:href="@{/}"><img th:src="@{/img/header_logo.png}" alt="메인페이지이동"></a>
        </header>
        <main>
            <div id="member-signup">
				<h1>약관동의</h1>
				<section>
					<h3><span class="essential">(필수)</span>케이마켓 이용약관</h3>
					<textarea class="terms" readonly>[[${terms.terms}]]</textarea>
					<label><input type="checkbox" name="agree1" />동의합니다.</label>

					<h3><span class="essential">(필수)</span>전자금융거래 이용약관</h3>
					<textarea class="finance" readonly>[[${terms.finance}]]</textarea>
					<label><input type="checkbox" name="agree2" />동의합니다.</label>

					<h3><span class="essential">(필수)</span>개인정보 수집동의</h3>
					<textarea class="privacy" readonly>[[${terms.privacy}]]</textarea>
					<label><input type="checkbox" name="agree3" />동의합니다.</label>
					
					<h3><span class="essential">(필수)</span>전자세금계산서 이용약관</h3>
					<textarea class="tax" readonly>[[${terms.tax}]]</textarea>
					<label><input type="checkbox" name="agree4" />동의합니다.</label>
				</section>

				<section>
					<h3><span class="optional">(선택)</span>위치정보 이용약관</h3>
					<textarea class="location" readonly>[[${terms.location}]]</textarea>
					<label><input type="checkbox" name="agree5" />동의합니다.</label>
				</section>

				<div>
					<input type="button" class="agree" name="agree" value="동의하기" />
				</div>
            </div>
        </main>        
        <th:block th:include="@{_footer.html}"/>
    </div>    
</body>
</html>