<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title>케이마켓::대한민국 1등 온라인 쇼핑몰</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/product/product.css}"/>
</head>
<body>
    <div id="wrapper">
        <th:block th:include="@{_header.html}"/>
        <main>            
            <aside>
                <th:block th:include="@{_category.html}"/>
            </aside>

            <!-- 장바구니 페이지 시작 -->
            <section id="product" class="cart">
              
              <!-- 제목, 페이지 네비게이션 -->
              <nav>
                <h1>장바구니</h1>
                <p>
                  HOME > <span>패션·의류·뷰티</span> > <strong>장바구니</strong>
                </p>
              </nav>
                            
              <form action="#">
                <!-- 장바구니 목록 -->
                <table>
                  <thead>
                    <tr>
                      <th><input type="checkbox" name="all"></th>
                      <th>상품명</th>
                      <th>총수량</th>
                      <th>판매가</th>
                      <th>할인</th>
                      <th>포인트</th>
                      <th>배송비</th>
                      <th>소계</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="empty">
                      <td colspan="7">장바구니에 상품이 없습니다.</td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name=""></td>
                      <td>
                        <article>
                          <a href="#"><img th:src="@{/img/thumb-sample-t2.jpg}" alt=""></a>
                          <div>
                            <h2><a href="#">TH-블락체크 셔츠-그레이2 [면세]</a></h2>
                            <p>SIZE:M / COLOR:블루 1개</p>
                          </div>
                        </article>
                      </td>
                      <td>1</td>
                      <td>27,000</td>
                      <td>5%</td>
                      <td>270</td>
                      <td>무료배송</td>
                      <td>27,000</td>
                    </tr>
                  </tbody>
                </table>
                <input type="button" name="del" value="선택삭제">

                <!-- 장바구니 전체합계 -->
                <div class="total">
                  <h2>전체합계</h2>
                  <table border="0">
                    <tr>
                      <td>상품수</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>상품금액</td>
                      <td>27,000</td>
                    </tr>
                    <tr>
                      <td>할인금액</td>
                      <td>-1,000</td>
                    </tr>
                    <tr>
                      <td>배송비</td>
                      <td>0</td>
                    </tr>              
                    <tr>
                      <td>포인트</td>
                      <td>260</td>
                    </tr>
                    <tr>
                      <td>전체주문금액</td>
                      <td>26,000</td>
                    </tr>
                  </table>
                  <input type="submit" name="" value="주문하기">    
                </div>

              </form>

            </section>
            <!-- 장바구니 페이지 끝 -->
        </main>
	<th:block th:include="@{_footer.html}"/>        
	<button type="button" id="top">상단이동</button>
    </div>    
</body>
</html>