<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">    
    <title>케이마켓::대한민국 1등 온라인 쇼핑몰</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/product/product.css}"/>
    <script>
    	
    	$(function(){
    		
    		//장바구니 클릭
    		$('.view .button > .cart').click(function(){
    			//alert('장바구니 클릭!');
    			let uid 	 = $('input[name=uid]').val();
    			let pid 	 = $('input[name=pid]').val();
    			let count 	 = $('input[name=num]').val();
    			let price 	 = $('input[name=price]').val();
    			let discount = $('input[name=discount]').val();
    			let point    = $('input[name=point]').val();
    			let delivery = $('input[name=delivery]').val();
    			let total 	 = $('input[name=salePrice]').val() * count;
    			
    			
    			let jsonData = {
    				"uid": uid,
    				"pid": pid,
    				"count": count,
    				"price": price,
    				"discount": discount,
    				"point": point,
    				"delivery": delivery,
    				"total": total
    			};
    			
    			$.ajax({
    				url: '/product/cart',
    				type: 'POST',
    				data: jsonData,
    				dataType: 'json',
    				success: function(data){
    					if(data.result >= 1){
    						let isGo = confirm('장바구니에 상품을 추가했습니다. 장바구니로 이동 하시겠습니까?');
    						
    						if(isGo){
    							location.href = '/product/cart';
    						}
    						
    					}
    				}    				
    			});
    			
    			
    		});
    		
    		
    		
    		//구매하기 클릭
    		
    		
    	});
    
    
    </script>
    
    
</head>
<body>
    <div id="wrapper">
        <th:block th:include="@{_header.html}"/>
        <main>            
            <aside>
                <!-- 카테고리 -->
                <th:block th:include="@{_category.html}"/>
            </aside>

            <!-- 상품 상세페이지 시작 -->
            <section id="product" class="view">
            	<input type="hidden" name="uid" 		th:value="${sessMember.uid}"/>
            	<input type="hidden" name="pid" 		th:value="${product.pid}"/>            	
            	<input type="hidden" name="price" 		th:value="${product.price}"/>
            	<input type="hidden" name="discount" 	th:value="${product.discount}"/>
            	<input type="hidden" name="point" 		th:value="${product.point}"/>
            	<input type="hidden" name="delivery" 	th:value="${product.delivery}"/>
            	<input type="hidden" name="salePrice" 	th:value="${product.salePrice}"/>

                <!-- 제목, 페이지 네비게이션 -->
                <nav>
                    <h1>[[${product.name}]]</h1>
                    <p>HOME > <span>[[${cates.tit1}]]</span> > <strong>[[${cates.tit2}]]</strong></p>
                </nav>

                <!-- 상품 전체 정보 내용 -->                
                <article class="info">
                    <div class="image">
                        <img th:src="@{/thumb/{cate1}/{cate2}/{img}(cate1=${product.cate1}, cate2=${product.cate2}, img=${product.thumb2})}" alt="상품이미지">
                    </div>
                    <div class="summary">
                        <nav>
                            <h1>[[${product.company}]]</h1>
                            <h2>상품번호&nbsp;:&nbsp;<span>[[${product.pid}]]</span></h2>
                        </nav>
                        <p>[[${product.desc}]]</p>
                        <nav>
                            <h5 th:if="${product.score == 1}" class="rating star1"><a href="#review">상품평보기</a></h5>
                            <h5 th:if="${product.score == 2}" class="rating star2"><a href="#review">상품평보기</a></h5>
                            <h5 th:if="${product.score == 3}" class="rating star3"><a href="#review">상품평보기</a></h5>
                            <h5 th:if="${product.score == 4}" class="rating star4"><a href="#review">상품평보기</a></h5>
                            <h5 th:if="${product.score == 5}" class="rating star5"><a href="#review">상품평보기</a></h5>
                        </nav>
                        <nav>
                            <div class="org_price">
                                <del>[[${#numbers.formatInteger(product.price, 3, 'COMMA')}]]</del>
                                <span>[[${product.discount}]]%</span>
                            </div>
                            <div class="dis_price">
                                <ins>[[${#numbers.formatInteger(product.salePrice, 3, 'COMMA')}]]</ins>
                            </div>
                        </nav>
                        <nav>
                            <span th:if="${product.delivery == 0}" class="delivery">무료배송</span>
                            <span th:if="${product.delivery != 0}" class="delivery">배송비 [[${#numbers.formatInteger(product.delivery, 3, 'COMMA')}]]원</span>
                            <span class="arrival">주문 완료 후 1 ~ 2일 후 도착예정</span>
                            <span class="desc">본 상품은 국내배송만 가능합니다.</span>
                        </nav>
                        <nav>
                            <span class="card cardfree"><i>아이콘</i>무이자할부</span>&nbsp;&nbsp;
                            <span class="card cardadd"><i>아이콘</i>카드추가혜택</span>
                        </nav>
                        <nav>
                            <span class="origin">원산지-상세설명 참조</span>
                        </nav>
                        <img src="../img/vip_plcc_banner.png" alt="100원만 결제해도 1만원 적립!" class="banner" />
                        
                        <script th:inline="javascript">
                        
                        	$(function(){
                        		
                        		let inputCount = $('input[name=num]');
                        		let totalSpan  = $('.total > span'); 
                        		let count      = inputCount.val();
                        		let salePrice  = $('input[name=salePrice]').val();
                        		
								$('button[class=increase]').click(function(){
									count++;
									inputCount.val(count);
									
									// 전체 합계 계산 
									let total = salePrice * count;
									totalSpan.text(total.toLocaleString());
								});
								
								$('button[class=decrease]').click(function(){
									count--;
									
									if(count <= 0){
										alert('상품의 최소 수량은 1입니다.');
										return;
									}
									
									inputCount.val(count);
									
									// 전체 합계 계산 
									let total = salePrice * count;
									totalSpan.text(total.toLocaleString());
								});
                        	});
                        
                        </script>
                        
                        <div class="count">
                            <button class="decrease">-</button>
                            <input type="text" name="num" value="1" readonly/>
                            <button class="increase">+</button>
                        </div>
                        
                        <div class="total">
                            <span>[[${#numbers.formatInteger(product.salePrice, 3, 'COMMA')}]]</span>
                            <em>총 상품금액</em>
                        </div>

                        <div class="button">
                            <input type="button" class="cart"  value="장바구니"/>
                            <input type="button" class="order" value="구매하기"/>
                        </div>

                    </div>
                </article>

                <!-- 상품 정보 내용 -->
                <article class="detail">
                    <nav>
                        <h1>상품정보</h1>
                    </nav>
                    <!-- 상품상세페이지 이미지 -->
                    <img th:src="@{/thumb/{cate1}/{cate2}/{img}(cate1=${product.cate1}, cate2=${product.cate2}, img=${product.detail})}" alt="상품 상세 이미지"/>
                </article>

                <!-- 상품 정보 제공 고시 내용 -->
                <article class="notice">
                    <nav>
                        <h1>상품 정보 제공 고시</h1>
                        <p>[전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거 등록된 정보입니다.</p>
                    </nav>
                    <table border="0">
                        <tr>
                            <td>상품번호</td>
                            <td>[[${product.pid}]]</td>
                        </tr>
                        <tr>
                            <td>상품상태</td>
                            <td>[[${product.status}]]</td>
                        </tr>
                        <tr>
                            <td>부가세 면세여부</td>
                            <td>[[${product.dutyFree}]]</td>
                        </tr>
                        <tr>
                            <td>영수증발행</td>
                            <td>[[${product.receipt}]]</td>
                        </tr>
                        <tr>
                            <td>사업자구분</td>
                            <td>[[${product.bizClass}]]</td>
                        </tr>
                        <tr>
                            <td>브랜드</td>
                            <td>[[${product.company}]]</td>
                        </tr>
                        <tr>
                            <td>원산지</td>
                            <td>[[${product.origin}]]</td>
                        </tr>
                    </table>
                    <p class="notice">
                        소비자가 전자상거래등에서 소비자 보호에 관한 법률 제 17조 제1항 또는 제3항에 따라 청약철회를 하고
                        동법 제 18조 제1항 에 따라 청약철회한 물품을 판매자에게 반환하였음에도 불구 하고 결제 대금의
                        환급이 3영업일을 넘게 지연된 경우, 소비자 는 전자상거래등에서 소비자보호에 관한 법률 제18조
                        제2항 및 동법 시행령 제21조 2에 따라 지연일수에 대하여 전상법 시행령으로 정하는 이율을 곱하여
                        산정한 지연이자(“지연배상금”)를 신청할 수 있습니다. 아울러, 교환∙반품∙보증 및 결제대금의
                        환급신청은 [나의쇼핑정보]에서 하실 수 있으며, 자세한 문의는 개별 판매자에게 연락하여 주시기 바랍니다.
                    </p>
                </article>
                
                <!-- 상품 리뷰 내용 -->
                <article id="review" class="review">
                    <nav>
                        <h1>상품리뷰</h1>
                    </nav>
                    <ul>
                        <li>
                            <div>
                                <h5 class="rating star4">상품평</h5>
                                <span>seo******	2018-07-10</span>
                            </div>
                            <h3>상품명1/BLUE/L</h3>
                            <p>
                                가격대비 정말 괜찮은 옷이라 생각되네요 핏은 음...제가 입기엔 어깨선이 맞고 루즈핏이라 하기도 좀 힘드네요.
                                아주 약간 루즈한정도...?그래도 이만한 옷은 없다고 봅니다 깨끗하고 포장도 괜찮고 다음에도 여기서 판매하는
                                제품들을 구매하고 싶네요 정말 만족하고 후기 남깁니다 많이 파시길 바래요 ~ ~ ~
                            </p>
                        </li>
                        <li>
                            <div>
                                <h5 class="rating star4">상품평</h5>
                                <span>seo******	2018-07-10</span>
                            </div>
                            <h3>상품명1/BLUE/L</h3>
                            <p>
                                가격대비 정말 괜찮은 옷이라 생각되네요 핏은 음...제가 입기엔 어깨선이 맞고 루즈핏이라 하기도 좀 힘드네요.
                                아주 약간 루즈한정도...?그래도 이만한 옷은 없다고 봅니다 깨끗하고 포장도 괜찮고 다음에도 여기서 판매하는
                                제품들을 구매하고 싶네요 정말 만족하고 후기 남깁니다 많이 파시길 바래요 ~ ~ ~
                            </p>
                        </li>
                        <li>
                            <div>
                                <h5 class="rating star4">상품평</h5>
                                <span>seo******	2018-07-10</span>
                            </div>
                            <h3>상품명1/BLUE/L</h3>
                            <p>
                                가격대비 정말 괜찮은 옷이라 생각되네요 핏은 음...제가 입기엔 어깨선이 맞고 루즈핏이라 하기도 좀 힘드네요.
                                아주 약간 루즈한정도...?그래도 이만한 옷은 없다고 봅니다 깨끗하고 포장도 괜찮고 다음에도 여기서 판매하는
                                제품들을 구매하고 싶네요 정말 만족하고 후기 남깁니다 많이 파시길 바래요 ~ ~ ~
                            </p>
                        </li>
                        <li>
                            <div>
                                <h5 class="rating star4">상품평</h5>
                                <span>seo******	2018-07-10</span>
                            </div>
                            <h3>상품명1/BLUE/L</h3>
                            <p>
                                가격대비 정말 괜찮은 옷이라 생각되네요 핏은 음...제가 입기엔 어깨선이 맞고 루즈핏이라 하기도 좀 힘드네요.
                                아주 약간 루즈한정도...?그래도 이만한 옷은 없다고 봅니다 깨끗하고 포장도 괜찮고 다음에도 여기서 판매하는
                                제품들을 구매하고 싶네요 정말 만족하고 후기 남깁니다 많이 파시길 바래요 ~ ~ ~
                            </p>
                        </li>
                        <li>
                            <div>
                                <h5 class="rating star4">상품평</h5>
                                <span>seo******	2018-07-10</span>
                            </div>
                            <h3>상품명1/BLUE/L</h3>
                            <p>
                                가격대비 정말 괜찮은 옷이라 생각되네요 핏은 음...제가 입기엔 어깨선이 맞고 루즈핏이라 하기도 좀 힘드네요.
                                아주 약간 루즈한정도...?그래도 이만한 옷은 없다고 봅니다 깨끗하고 포장도 괜찮고 다음에도 여기서 판매하는
                                제품들을 구매하고 싶네요 정말 만족하고 후기 남깁니다 많이 파시길 바래요 ~ ~ ~
                            </p>
                        </li>
                    </ul>
                    <div class="paging">
                        <span class="prev">
                            <a href="#"><&nbsp;이전</a>
                        </span>
                        <span class="num">
                            <a href="#" class="on">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">7</a>
                        </span>
                        <span class="next">
                            <a href="#">다음&nbsp;></a>
                        </span>
                    </div>

                </article>
                
            </section>
            <!-- 상품 상세페이지 끝 -->
        </main>
        <th:block th:include="@{_footer.html}"/>
        <button type="button" id="top">상단이동</button>
    </div>    
</body>
</html>