<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>employee/list</title>
	</head>
	<body>
		<h3>employee/list</h3>
		<a th:href="@{/employee/register}">등록하기</a>
		<table border="1">
			<tr>
				<th>아이디</th>
				<th>이름</th>
				<th>성별</th>
				<th>휴대전화</th>
				<th>이메일</th>
				<th>직급</th>
				<th>부서</th>
				<th>입사일</th>
				<th>관리</th>
			</tr>
			<tr th:each="employee:${employees}">
				<td>[[${employee.uid}]]</td>
				<td th:text="${employee.name}">홍길동</td>
				<td th:text="${employee.gender}">영국 맨체스터</td>
				<td th:text="${employee.hp}">010-1111-1111</td>
				<td th:text="${employee.email}">010-1111-1111</td>
				<td th:text="${employee.pos}">010-1111-1111</td>
				<td th:text="${employee.dep}">010-1111-1111</td>
				<td th:text="${employee.rdate}">2022-04-07</td>
				<td>
					<a th:href="@{/employee/modify(uid=${employee.uid})}">수정</a>
					<a th:href="@{/employee/delete(uid=${employee.uid})}">삭제</a>
				</td>
			</tr>
		</table>
		
	</body>
</html>