<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<!-- 
			날짜 : 2022/04/11
			이름 : 양용민
			내용 : Ch07.Spring JPA 실습
		 -->
	</head>
	<body>
		<h3>Spring JPA 실습하기</h3>
		
		<a th:href="@{/user/register}">User 등록하기</a>
		<a th:href="@{/member/register}">Member 등록하기</a>
		<a th:href="@{/customer/register}">Customer 등록하기</a>
		<a th:href="@{/student/register}">Student 등록하기</a>
		<a th:href="@{/employee/register}">Employee 등록하기</a>
		
		
	</body>
</html>