<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>student/modify</title>
	</head>
	<body>
		<h3>student/modify</h3>
		<a th:href="@{/student/list}">목록보기</a>
		<form th:action="@{/student/modify}" method="post">
			<table border="1">
				<tr>
					<td>학번</td>
					<td><input type="text" name="sid" readonly th:value="${student.sid}"></td>
				</tr>
				<tr>
					<td>이름</td>
					<td><input type="text" name="name" th:value="${student.name}"></td>
				</tr>
				<tr>
					<td>성별</td>
					<td>
						<label><input type = "radio" name = "gender" value = "1"/>남</label>
						<label><input type = "radio" name = "gender" value = "2"/>여</label>
					</td>
				</tr>
				<tr>
					<td>휴대전화</td>
					<td><input type="text" name="hp" th:value="${student.hp}"></td>
				</tr>
				<tr>
					<td>학년</td>
					<td>
						<select name="grade">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="right"><input type="submit" value="수정하기"></td>
				</tr>
			</table>
		</form>
	
	</body>
</html>