<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>member/modify</title>
	</head>
	<body>
		<h3>member/modify</h3>
		<a th:href="@{/member/list}">목록보기</a>
		<form th:action="@{/member/modify}" method="post">
			<table border="1">
				<tr>
					<td>아이디</td>
					<td><input type="text" name="uid" readonly th:value="${member.uid}"></td>
				</tr>
				<tr>
					<td>이름</td>
					<td><input type="text" name="name" th:value="${member.name}"></td>
				</tr>
				<tr>
					<td>휴대폰</td>
					<td><input type="text" name="hp" th:value="${member.hp}"></td>
				</tr>
				<tr>
					<td>직급</td>
					<td>
						<select name="pos" th:value="${member.pos}">
							<option>부장</option>
							<option>차장</option>
							<option>과장</option>
							<option>대리</option>
							<option>사원</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>부서</td>
					<td>
						<select name="dep" th:value="${member.dep}">
							<option value="101">영업1부</option>
							<option value="102">영업2부</option>
							<option value="103">영업3부</option>
							<option value="104">인사부</option>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="right"><input type="submit" value="수정하기"></td>
				</tr>
			</table>
		</form>
	
	</body>
</html>