<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글목록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div id="wrapper">
        <section id="board" class="list">
            <h3>글목록</h3>
            <article>
                <p>
                    [[${sessUser.nick}]]님 반갑습니다.
                    <a th:href="@{/user/logout}" class="logout">[로그아웃]</a>
                </p>
                <table border="0">
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>날짜</th>
                        <th>조회</th>
                    </tr>
                    <tr th:each="article,i:${articles}">
                        <td>[[${pageStartNum - i.index}]]</td>
                        <td><a th:href="@{/article/view(no=${article.no})}">[[${article.title}]]</a>&nbsp;［[[${article.comment}]]］</td>
                        <td>[[${article.nick}]]</td>
                        <td>[[${article.rdate}]]</td>
                        <td>[[${article.hit}]]</td>
                    </tr>
                </table>
            </article>

            <!-- 페이지 네비게이션 -->
            <div class="paging">
            
            	<th:block th:if="${groups[0] > 1}">
                	<a th:href="@{/article/list(pg=${groups[0] - 1})}" class="prev">이전</a>
                </th:block>
                
                <th:block th:each="num:${#numbers.sequence(groups[0], groups[1])}">
                	<a th:href="@{/article/list(pg=${num})}" th:class="${num==currentPage?'num current':'num'}">[[${num}]]</a>       
                </th:block>
                
                <th:block th:if="${groups[1] < lastPageNum}">
                	<a th:href="@{/article/list(pg=${groups[1] + 1})}" class="next">다음</a>
                </th:block>
                
            </div>

            <!-- 글쓰기 버튼 -->
            <a th:href="@{/article/write}" class="btnWrite">글쓰기</a>

        </section>
    </div>    
</body>
</html>