<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글보기</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:inline="javascript">
    
		$(function(){
			// 댓글 목록 불러오기
			let no = [[${article.no}]];
			$.ajax({
				url: '/Sboard1/article/comment/'+no,
				type: 'GET',
				dataType: 'json',
				success: function(data){
					console.log(data);
				}
				
			});
			
			
			// 댓글등록버튼
			// 클릭 이벤트
			$('input[type=submit]').click(function(){
				
				// json 데이터 생성
				let parent  = $('.commentForm input[name=parent]').val();
				let uid     = $('.commentForm input[name=uid]').val();
				let content = $('.commentForm textarea[name=content]').val();
				
				let jsonData = {
						"parent":parent,
						"uid":uid,
						"content":content
				};
				
				$.ajax({
					url: '/Sboard1/article/comment',
					type: 'POST',
					data: jsonData,
					dataType: 'json',
					success:function(data){
						alert(data);
					}
					
				});
				// 폼전송 차단
				return false;
			});
			
		});





	</script>
</head>
<body>
    <div id="wrapper">
        <section id="board" class="view">
            <h3>글보기</h3>
            <table>
                <tr>
                    <td>제목</td>
                    <td><input type="text" name="title" th:value="${article.title}" readonly/></td>
                </tr>
                <tr th:if="${article.file==1}">
                    <td>첨부파일</td>
                    <td>
                        <a th:href="@{/article/filedownload(fid=${article.fvo.fid})}">[[${article.fvo.oName}]]</a>
                        <span>[[${article.fvo.download}]]회 다운로드</span>
                    </td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td>
                        <textarea name="content" readonly>[[${article.content}]]</textarea>
                    </td>
                </tr>
            </table>
            <div>
                <a th:href="@{/article/delete}" class="btnDelete">삭제</a>
                <a th:href="@{/article/modify}" class="btnModify">수정</a>
                <a th:href="@{/article/list}" class="btnList">목록</a>
            </div>  
            
            <!-- 댓글리스트 -->
            <section class="commentList">
                <h3>댓글목록</h3>
                <article class="comment">
                    <span>
                        <span>길동이</span>
                        <span>20-05-13</span>
                    </span>
                    <textarea name="comment" readonly>댓글 샘플입니다.</textarea>
                    <div>
                        <a href="#">삭제</a>
                        <a href="#">수정</a>
                    </div>
                </article>
                <p class="empty">
                    등록된 댓글이 없습니다.
                </p>
            </section>

            <!-- 댓글입력폼 -->
            <section class="commentForm">
                <h3>댓글쓰기</h3>
                <form th:action="@{article/comment}" method="post">
                	<input type="hidden" name="parent" th:value="${article.no}"/>
                	<input type="hidden" name="uid" th:value="${sessUser.uid}"/>
                    <textarea name="content"></textarea>
                    <div>
                        <a href="#" class="btnCancel">취소</a>
                        <input type="submit" class="btnWrite" value="작성완료"/>
                    </div>
                </form>
            </section>

        </section>
    </div>    
</body>
</html>