<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>list</title>
	</head>
	<body>
		<h3>list</h3>
		<a th:href="@{/register}">등록하기</a>
		<table border="1">
			<tr>
				<th>직원번호</th>
				<th>직원이름</th>
				<th>직원생년월일</th>
				<th>직원성별</th>
				<th>직원휴대폰</th>
				<th>직원주소</th>
				<th>직원입사일</th>
				<th>관리</th>
			</tr>
			<tr th:each="staff:${staffs}">
				<td th:text="${staff.stf_no}">1</td>
				<td th:text="${staff.stf_name}">홍길동</td>
				<td th:text="${staff.stf_birth}">1983-02-05</td>
				<td th:text="${staff.stf_gender}">1</td>
				<td th:text="${staff.stf_hp}">010-1111-1111</td>
				<td th:text="${staff.stf_addr}">경북</td>
				<td th:text="${staff.stf_date}">2020-04-06</td>
				<td>
					<a th:href="@{/modify(stf_no=${staff.stf_no})}">수정</a>
					<a th:href="@{/delete(stf_no=${staff.stf_no})}">삭제</a>
				</td>
			</tr>
		</table>
		
	</body>
</html>