<html xmlns:th="http://www.thymeleaf.org">
<div id="sub">
    <div><img th:src="@{/img/sub_top_tit5.png}" alt="COMMUNITY"></div>
    <section class="cate5">
        <aside>
            <img th:src="@{/img/sub_aside_cate5_tit.png}" alt="커뮤니티"/>

            <ul class="lnb">
                <li th:classappend="${type} == 'notice'?'on'"><a th:href="@{/board/list(cate=community, type=notice)}">공지사항</a></li>
                <li th:classappend="${type} == 'menu'?'on'"><a th:href="@{/board/list(cate=community, type=menu)}">오늘의식단</a></li>
                <li th:classappend="${type} == 'chef'?'on'"><a th:href="@{/board/list(cate=community, type=chef)}">나도요리사</a></li>
                <li th:classappend="${type} == 'qna'?'on'"><a th:href="@{/board/list(cate=community, type=qna)}">고객문의</a></li>
                <li th:classappend="${type} == 'faq'?'on'"><a th:href="@{/board/list(cate=community, type=faq)}">자주묻는질문</a></li>
            </ul>
        </aside>
        <article>
            <nav>
                <img th:src="@{/img/sub_nav_tit_cate5_{type}.png(type=${type})}" alt="공지사항"/>
                <p>
                    HOME > 커뮤니티 > 
                    <em th:if="${type} == 'notice'">공지사항</em>
                    <em th:if="${type} == 'menu'">오늘의식단</em>
                    <em th:if="${type} == 'chef'">나도요리사</em>
                    <em th:if="${type} == 'qna'">고객문의</em>
                    <em th:if="${type} == 'faq'">자주묻는질문</em>
                </p>
            </nav>
            <!-- 내용 시작 -->
</html>