<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">    
    <title>케이마켓::대한민국 1등 온라인 쇼핑몰</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script>
        $(document).ready(function(){
          $('.slider > ul').bxSlider({
              pager: false,
              easing: 'linear'
          });
        });
      
      $(function(){

        var best = $('aside > .best');

        $(window).scroll(function(){

          var t = $(this).scrollTop();

          if(t > 620){
            best.css({
              'position':'fixed',
              'top': '0'
            });
          }else{
            best.css({'position':'static'});
          }
        });
      });
    </script>
</head>
<body>
    <div id="wrapper">
        <th:block th:include="@{_header.html}"/>
        <main>
            <!-- 카테고리/베스트 상품 영역 -->
            <aside>
            
            	<!-- 카테고리 -->
                <th:block th:include="@{_category.html}"/>

                <!-- 베스트상품 배너 -->
                <article class="best">
                  <h1><i class="fas fa-crown"></i>베스트상품</h1>
                  <ol>
                  	<!-- 1위 -->
                    <li th:each="product,i:${productsBest}">
                      <a th:href="@{/product/view(pid=${product.pid})}">
                        <div class="thumb">
                          <i>[[${i.index+1}]]</i>
                          <img th:src="@{/thumb/{cate1}/{cate2}/{img}(cate1=${product.cate1}, cate2=${product.cate2}, img=${product.thumb1})}" alt="t1">
                        </div>
                        <article>
	                        <h2>[[${product.name}]]</h2>
	                        <div class="org_price">
	                          <del>[[${#numbers.formatInteger(product.price, 3, 'COMMA')}]]</del>
                              <span>[[${product.discount}]]%</span>
	                        </div>
	                        <div class="dis_price">
	                          <ins>[[${#numbers.formatInteger(product.salePrice, 3, 'COMMA')}]]</ins>
	                        </div>
                        </article>
                      </a>
                    </li>
                  </ol>
                </article>
            </aside>
            <section>
                <!-- 슬라이더 영역 -->
                <section class="slider">
                    <ul>
                        <li><a href="#"><img src="./img/slider_item1.jpg" alt="item1"></a></li>
                        <li><a href="#"><img src="./img/slider_item2.jpg" alt="item2"></a></li>
                        <li><a href="#"><img src="./img/slider_item3.jpg" alt="item3"></a></li>
                        <li><a href="#"><img src="./img/slider_item4.jpg" alt="item4"></a></li>
                        <li><a href="#"><img src="./img/slider_item5.jpg" alt="item5"></a></li>
                    </ul>
                </section>
                <!-- 히트상품 영역 -->
                <section class="hit">
                    <h3><span>히트상품</span></h3>
                    <article th:each="product:${productsHit}">
                        <a th:href="@{/product/view(pid=${product.pid})}">
                            <div class="thumb">
                              <img th:src="@{/thumb/{cate1}/{cate2}/{img}(cate1=${product.cate1}, cate2=${product.cate2}, img=${product.thumb1})}" alt="t1">
                            </div>
                            <h2>[[${product.name}]]</h2>
                            <p>[[${product.desc}]]</p>
                            <div class="org_price">
                              <del>[[${#numbers.formatInteger(product.price, 3, 'COMMA')}]]</del>
                              <span>[[${product.discount}]]%</span>
                            </div>
                            <div class="dis_price">
                              <ins>[[${#numbers.formatInteger(product.salePrice, 3, 'COMMA')}]]</ins>
                              <span th:if="${product.delivery == 0}">무료배송</span>
                            </div>
                        </a>
                    </article>
                </section>
                <!-- 추천상품 영역 -->
                <section class="recommend">
                    <h3><span>추천상품</span></h3>
                    <article th:each="product:${productsRecommend}">
                       <a th:href="@{/product/view(pid=${product.pid})}">
                            <div class="thumb">
                              <img th:src="@{/thumb/{cate1}/{cate2}/{img}(cate1=${product.cate1}, cate2=${product.cate2}, img=${product.thumb1})}" alt="t1">
                            </div>
                            <h2>[[${product.name}]]</h2>
                            <p>[[${product.desc}]]</p>
                            <div class="org_price">
                              <del>[[${#numbers.formatInteger(product.price, 3, 'COMMA')}]]</del>
                              <span>[[${product.discount}]]%</span>
                            </div>
                            <div class="dis_price">
                              <ins>[[${#numbers.formatInteger(product.salePrice, 3, 'COMMA')}]]</ins>
                              <span th:if="${product.delivery == 0}">무료배송</span>
                            </div>
                        </a>
                    </article>
                </section>
                <!-- 최신상품 영역 -->
                <section class="new">
                    <h3><span>최신상품</span></h3>
                    <article th:each="product:${productsNew}">
                        <a th:href="@{/product/view(pid=${product.pid})}">
                            <div class="thumb">
                              <img th:src="@{/thumb/{cate1}/{cate2}/{img}(cate1=${product.cate1}, cate2=${product.cate2}, img=${product.thumb1})}" alt="t1">
                            </div>
                            <h2>[[${product.name}]]</h2>
                            <p>[[${product.desc}]]</p>
                            <div class="org_price">
                              <del>[[${#numbers.formatInteger(product.price, 3, 'COMMA')}]]</del>
                              <span>[[${product.discount}]]%</span>
                            </div>
                            <div class="dis_price">
                              <ins>[[${#numbers.formatInteger(product.salePrice, 3, 'COMMA')}]]</ins>
                              <span th:if="${product.delivery == 0}">무료배송</span>
                            </div>
                        </a>
                    </article>
                </section>
                <!-- 할인상품 영역 -->
                <section class="discount">
                    <h3><span>할인상품</span></h3>
                    <article th:each="product:${productsDiscount}">
                        <a th:href="@{/product/view(pid=${product.pid})}">
                            <div class="thumb">
                              <img th:src="@{/thumb/{cate1}/{cate2}/{img}(cate1=${product.cate1}, cate2=${product.cate2}, img=${product.thumb1})}" alt="t1">
                            </div>
                            <h2>[[${product.name}]]</h2>
                            <p>[[${product.desc}]]</p>
                            <div class="org_price">
                              <del>[[${#numbers.formatInteger(product.price, 3, 'COMMA')}]]</del>
                              <span>[[${product.discount}]]%</span>
                            </div>
                            <div class="dis_price">
                              <ins>[[${#numbers.formatInteger(product.salePrice, 3, 'COMMA')}]]</ins>
                              <span th:if="${product.delivery == 0}">무료배송</span>
                            </div>
                        </a>
                    </article>                    
                </section>
            </section>
        </main>
        
        <th:block th:include="@{_footer.html}"/>
        
        <button type="button" id="top">상단이동</button>
    </div>    
</body>
</html>