<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>customer/register</title>
	</head>
	<body>
		<h3>customer/register</h3>
		<a th:href="@{/customer/list}">목록보기</a>
		<form th:action="@{/customer/register}" method="post">
			<table border="1">
				<tr>
					<td>아이디</td>
					<td><input type="text" name="custid"></td>
				</tr>
				<tr>
					<td>이름</td>
					<td><input type="text" name="name"></td>
				</tr>
				<tr>
					<td>주소</td>
					<td><input type="text" name="address"></td>
				</tr>
				<tr>
					<td>전화번호</td>
					<td><input type="text" name="phone"></td>
				</tr>
				<tr>
					<td colspan="2" align="right"><input type="submit" value="등록하기"></td>
				</tr>
			</table>
		</form>
	
	</body>
</html>