<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>user/login</title>
	</head>
	<body>
		<h3>user/login</h3>
		<form th:action="@{#}" method="post">
			<table border="1">
				<tr>
					<td>아이디</td>
					<td><input type="text" name="uid"></td>
				</tr>
				<tr>
					<td>비밀번호</td>
					<td><input type="password" name="pass"></td>
				</tr>
				<tr>
					<td colspan="2" align="right"><input type="submit" value="로그인"/></td>
				</tr>
			</table>
		</form>
		<a th:href="@{/user/register}">회원가입</a>
	</body>
</html>