<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>customer/list</title>
	</head>
	<body>
		<h3>customer/list</h3>
		<a th:href="@{/customer/register}">등록하기</a>
		<table border="1">
			<tr>
				<th>아이디</th>
				<th>이름</th>
				<th>주소</th>
				<th>전화번호</th>
				<th>관리</th>
			</tr>
			<tr th:each="customer:${customers}">
				<td>[[${customer.custid}]]</td>
				<td th:text="${customer.name}">홍길동</td>
				<td th:text="${customer.address}">영국 맨체스터</td>
				<td th:text="${customer.phone}">010-1111-1111</td>
				<td>
					<a th:href="@{/customer/modify(custid=${customer.custid})}">수정</a>
					<a th:href="@{/customer/delete(custid=${customer.custid})}">삭제</a>
				</td>
			</tr>
		</table>
		
	</body>
</html>